<hr class="break-line">
<footer style="background-color:#fff">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>BROWSER</h5>
        <ul class="list-unstyled">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Plant Care</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>LEGAL</h5>
        <ul class="list-unstyled">
          <li><a href="#">Returns Policy</a></li>
          <li><a href="#">Shipping Policy</a></li>
          <li><a href="#">Privacy Notice</a></li>
          <li><a href="#">Plant Toxicity</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Hear About it First!</h5>
        <p id="footer-txt">Subscribe to our Newsletter for only the good stuff! We hate Spam too.</p>
        <form class="form-inline">
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
          </div>
          <button type="submit" id="footer-btn" class="btn ml-2">Subscribe</button>
        </form>
        <ul class="list-unstyled list-inline">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
        </ul>
      </div>

      <p class="footer-text">© 2023 Plant Dads - Let's Spread Kindness </p>
    </div>
  </div>
</footer>
