<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <div class="homepage-welcome">
    <h1>Plant with us</h1>
    <h3>Lorem ipsum dolor sit amet.</h3>
  </div>
  <button>Shop Now!</button>  -->
  
  <div class="welcome-msg">
    <h2>Your <span id="welcome-img-coloring">planting</span> journey</h2>
    <h2 id="second-line">begins here!</h2>
  </div>
  
  <div class="btn-shopping">
    <button routerLink="/products">Shop Now!</button>
  </div>

  <!-- <div class="welcome-img">
    <img id="img-welcome" src="https://img.freepik.com/free-photo/small-cacti-with-white-wall-background_53876-133169.jpg?size=626&ext=jpg&ga=GA1.2.1995722358.1682055920&semt=ais" alt=""> 
  </div> -->

</body>
</html>