<div id="nav-bar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">

  <img id="icon-logo" routerLink="" src="../../assets/images/logo 1.png" alt="">
  
  <h5 class="my-0 mr-md-auto font-weight-normal" routerLink="" src="" id="logo-heading">PLANT<span id="logo-heading-coloring">DADS</span></h5>
  
  <nav  class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark link" routerLink="/products">SHOP</a>
    <a class="p-2 text-dark link" href="#">PLANT CARE</a>
    <a class="p-2 text-dark link" routerLink="/login">ACCOUNT</a>
    <!-- <a class="p-2 text-dark" href="#">Sign In</a> -->
    <!-- <img id="sign-in-icon" src="https://img.icons8.com/ios/512/user.png" alt="">
    <img id="cart-icon" src="https://img.icons8.com/ios/512/shopping-cart.png" alt=""> -->
  </nav>

  <form class="form-inline my-2 my-lg-0" >
    <a id="btn-cart" routerLink="/cart">
      <button id="btn-cart" class="btn btn-outline-dark my-2 my-sm-0" type="submit">
          <div class="d-flex align-items-center" routerLink="/cart">
            <img src="https://img.icons8.com/ios/512/shopping-cart.png" class="mr-2">
            <span id="cart-text"  >CART </span>
            <div id="cart-count">{{cartItemCount}}</div>
          </div>
      </button>
    </a>
  </form>

</div>