#nav-bar + router-outlet {
    margin-top: -100px; 
}

/**************** NAV BAR ******************/
#nav-bar {
    text-decoration: none;
    align-items: center;

}

/* #icon-logo {
    width: 100px;
    height: 100px;
} */

.logo {
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: black;
}


/*************** LOGO HEADING AND ICON *****************/
img {
    width: 40px;
    height: 30px;
}

#logo-heading {
    cursor: pointer;
    font-size: 40px;
    font-weight: 300px;
}

#logo-heading-coloring {
    color: green;
    /* color: rgba(25, 155, 34, 0.719); */
}


/************** CART BUTTON *****************/
#btn-cart {
    border-color: green;
    /* background-color: grey; */
}

#btn-cart:hover {
    background-color: rgb(88, 137, 88);
}

#cart-text {
    font-size: 13px;
}

#cart-count {
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 5px;
}
  



a{
    text-decoration: none;
    font-size: 15px;
}




/* a:hover {
    background: rgb(88, 137, 88);
} */

/* CSS code for navbar hover effect */ 
#nav-bar a.link {
    margin: 8px;
    position: relative;
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease;
}
  
#nav-bar a.link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(88, 137, 88); /* change to desired hover effect color */
}

/* #sign-in-icon {
    cursor: pointer;
} */

#cart-icon {
    cursor: pointer;
}
  

#btn-cart:hover #cart-text,
#btn-cart:focus #cart-text {
    color: black;
}

/* #btn-cart:hover #cart-count,
#btn-cart:focus #cart-count {
    color: rgb(88, 137, 88); 
}  */



