/* #img-card {
    padding: 20px;
    margin: 50px;
} */

.card {
    display: flex;
    width: 20rem;
    height: 350px;
    /* margin: 20px; */
    align-items: center;
}

#img-size {
    padding-top: 20px;
    width: 150px;
    height: 180px;
}

/* .card-img-top {
    padding-top: 15px;
    width: 130px;
    padding-left: 10px;
} */


/* .btn-group {
    display: flex;
} */

.btn-group button {
    /* height: auto; */
    width: 300px;
    background-color: rgb(88, 137, 88);
    cursor: pointer;
    margin-bottom: 50px;
}

/* #img-size {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
} */

.intro-descri {
    text-align: center;
    letter-spacing: .025em;
    line-height: 1.6;
    color: black;
    font-size: 14.5px;
    margin-top: 10px;
}

/* Paragraph color styling*/
.p-coloring {
    text-decoration: underline;
    color: green;
    cursor: pointer;
}

.prod-heading {
    text-align: center;
}

#btn-cart {
    font-size: 15px;
    background: rgb(88, 137, 88);
    text-align: center;
    border: none;
}

.button-class {
    text-align: center;
}

/* .card {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 18px;
} */

#heading-coloring {
    color: green;
}

.prod-heading h2 {
    font-size: 40px;
}

.card-info {
    text-align: center;
}

.card-info p {
    text-transform: uppercase;
    color: black;
    font-weight: 300;
}

.price-text {
    font-size: 14px;
    font-weight: 200;
    color: black
}

.card-text {
    text-align: center;
    font-size: 18px;
    /* font-weight: 300; */

}

/* FILTER BUTTON */
.filter-dropdown {
    position: absolute;
    /* top: 10px; */
    right: 5px;
    margin-right: 85px;
    /* margin-bottom: 100px; */
}

.filter-btn {
    background-color: rgb(88, 137, 88);
    color: white;
    padding: 10px 20px 10px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-btn i {
    margin-left: 100px;
}

.filter-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 10;
}

.filter-content a {
    color: black;
    padding: 12px 50px;
    text-decoration: none;
    display: block;
}

.filter-content a:hover {
    background-color: #ddd;
}

.filter-dropdown:hover .filter-content {
    display: block;
}

.filter-dropdown:hover .filter-btn {
    background-color: #3e8e41;
} 