<div class="prod-heading">
  <h2>ALL <span id="heading-coloring">PLANTS</span></h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center mx-auto">
        <p class="intro-descri">
          Our primary collection of on-trend foliage and flowering houseplants
          to easily brighten up your Space. Create the perfect Indoor Jungle
          with our selections of <span class="p-coloring">Low Light</span>,
          <span class="p-coloring">Hanging</span>,
          <span class="p-coloring">Tabletop</span> and
          <span class="p-coloring">Easy Care</span> Plants, be it for your
          <span>Bathroom</span>,
          <span class="p-coloring">General Living Space</span> or
          <span class="p-coloring">Office</span>. For something unique and
          eye-catching, consider one of our traditional hand-tied
          <span class="p-coloring">Mossballs</span>. <br /><br />
          Add something larger to your plant collection with either our
          <span class="p-coloring">Floor Standing</span> and
          <span class="p-coloring">Extra Large</span> Plant options. View our
          collection of <span class="p-coloring">Plant Pots</span> Pots to
          create the ultimate style combo. For extra Plant Care Support checkout
          our <span class="p-coloring">Plant Care Tab</span>, for detailed Care
          Instructions. <br /><br />Enjoy quick, safe and affordable shipping
          anywhere in South Africa!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="filter-dropdown">
  <button class="filter-btn">
    Apply Filter <i class="fas fa-caret-down"></i>
  </button>
  <div class="filter-content">
    <a href="#">Best Selling</a>
    <a href="#">On Sale</a>
    <a href="#">Alphabetically, A-Z</a>
    <a href="#">Price, low to high</a>
    <a href="#">Price, high to low</a>
    <a href="#">Date, old to low</a>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let product of products">
      <div class="card">
        <img [src]="product.image" class="card-img-top" alt="{{ product.title }}" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <!-- <p class="card-text">{{ product.description }}</p> -->
          <p class="card-text">{{ product.price | currency: 'R' }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button"  class="btn btn-block btn-outline-secondary" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- 
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <div class="card-img-top-wrapper">
          <img
            id="img-card"
            src="../../assets/images/pepper-face-plant.jpg"
            alt="Pepper Face Plant"
            class="card-img-top"
            (mouseenter)="changeImage('../../assets/images/monstera-deliciosa-plant-pot.jpg')"
            (mouseleave)="changeImage('../../assets/images/fiddle-leaf-fig-plant-pot.jpg')"
          />
        </div>
        <div class="card-body">
          <div class="card-info">
            <p class="card-title">Pepper Face Plant</p>
            <span class="card-text"><span class="price-text">from</span> R150</span>
          </div>
          <div class="button-class">
            <button id="btn-cart" class="btn btn-primary btn-lg btn-block">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          id="img-card"
          src="../../assets/images/peace-lily-plant-pot.jpg"
          alt="Peace lily Plant"
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-info">
            <p class="card-title">Peace lily</p>
            <span class="card-text"
              ><span class="price-text">from</span> R350</span
            >
          </div>
          <div class="button-class">
            <button id="btn-cart" class="btn btn-primary btn-lg btn-block">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          id="img-card"
          src="../../assets/images/monstera-plant-white-pot.jpg"
          alt="Peace lily Plant"
          class="card-img-top"
        />

        <div class="card-body">
          <div class="card-info">
            <p class="card-title">Monstera plant</p>
            <span class="card-text"
              ><span class="price-text">from</span> R249</span
            >
          </div>
          <div class="button-class">
            <button id="btn-cart" class="btn btn-primary btn-lg btn-block">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          id="img-card"
          src="../../assets/images/monstera-plant-white-pot.jpg"
          alt="Peace lily Plant"
          class="card-img-top"
        />

        <div class="card-body">
          <div class="card-info">
            <p class="card-title">Monstera deliciosa</p>
            <span class="card-text"
              ><span class="price-text">from</span> R199</span
            >
          </div>
          <div class="button-class">
            <button id="btn-cart" class="btn btn-primary btn-lg btn-block">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          id="img-card"
          src="../../assets/images/snake-plant-white-pot_832479-368.jpg"
          alt="Snake Plant"
          class="card-img-top"
        />

        <div class="card-body">
          <div class="card-info">
            <p class="card-title">Snake Plant</p>
            <span class="card-text"
              ><span class="price-text">from</span> R249</span
            >
          </div>
          <div class="button-class">
            <button id="btn-cart" class="btn btn-primary btn-lg btn-block">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          id="img-card"
          src="../../assets/images/fiddle-leaf-fig-plant-pot.jpg"
          alt="Snake Plant"
          class="card-img-top"
        />

        <div class="card-body">
          <div class="card-info">
            <p class="card-title">Fiddle leaf fig plant</p>
            <span class="card-text"
              ><span class="price-text">from</span> R329</span
            >
          </div>
          <div class="button-class">
            <button id="btn-cart" class="btn btn-primary btn-lg btn-block">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          id="img-card"
          src="../../assets/images/fiddle-leaf-fig-plant-pot.jpg"
          alt="Snake Plant"
          class="card-img-top"
        />

        <div class="card-body">
          <div class="card-info">
            <p class="card-title">Fiddle leaf fig plant</p>
            <span class="card-text">
              <span class="price-text">from</span> R329</span
            >
          </div>
          <div class="button-class">
            <button id="btn-cart" class="btn btn-primary btn-lg btn-block">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          id="img-card"
          src="../../assets/images/fiddle-leaf-fig-plant-pot.jpg"
          alt="Snake Plant"
          class="card-img-top"
        />

        <div class="card-body">
          <div class="card-info">
            <p class="card-title">Fiddle leaf fig plant</p>
            <span class="card-text">
              <span class="price-text">from</span> R329</span
            >
          </div>
          <div class="button-class">
            <button id="btn-cart" class="btn btn-primary btn-lg btn-block">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
